@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  /* This won't be included in your compiled CSS unless you actually use it */
  .title {
    font-size: x-large;
    font-weight: 600;
  }

  .link-text {
    --tw-text-opacity: 1;
    color: rgb(15 23 42 / var(--tw-text-opacity));
  }

  .link-text:hover {
    --tw-text-opacity: 1;
    color: rgb(51 65 85 / var(--tw-text-opacity));
  }
}